<div class="my-3">
    
      <h2>User Information</h2>
    
    
    <form (ngSubmit)="submitForm()" #registerForm="ngForm">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
      </div>
  
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required email>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required minlength="6">
      </div>
  
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid || passwordMismatch">Submit</button>
    </form>
  </div>
  